<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM  "http://testng.org/testng-1.0.dtd">
<suite name="CafetownSend Tests" verbose="10">
    <test name="Login Test">
        <parameter name="user" value="Luke"/>
        <parameter name="password" value="Skywalker"/>
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
    <test name="Logout Test">
        <parameter name="user" value="Luke"/>
        <parameter name="password" value="Skywalker"/>
        <classes>
            <class name="Tests.LogoutTest"/>
        </classes>
    </test>
    <test name="Create Employee Test">
        <parameter name="user" value="Luke"/>
        <parameter name="password" value="Skywalker"/>
        <parameter name="firstnameCreate" value="CREATE"/>
        <parameter name="lastnameCreate" value="USER"/>
        <parameter name="startdateCreate" value="2020-01-01"/>
        <parameter name="emailCreate" value="CREATEUSER@test.com"/>
        <classes>
            <class name="Tests.CreateEmployeeTest"/>
        </classes>
    </test>
    <test name="Edit Employee Test">
        <parameter name="user" value="Luke"/>
        <parameter name="password" value="Skywalker"/>
        <parameter name="firstnameEdit" value="EDIT"/>
        <parameter name="lastnameEdit" value="USER"/>
        <parameter name="startdateEdit" value="2020-01-01"/>
        <parameter name="emailEdit" value="EDITUSER@test.com"/>
        <parameter name="newfirstname" value="NEWNAME"/>
        <parameter name="newlastname" value="NEWLASTNAME"/>
        <parameter name="newstartdate" value="2020-01-01"/>
        <parameter name="newemail" value="NEWNAME@test.com"/>
        <classes>
            <class name="Tests.EditEmployeeTest"/>
        </classes>
    </test>
    <test name="Delete Employee Test">
        <parameter name="user" value="Luke"/>
        <parameter name="password" value="Skywalker"/>
        <parameter name="firstnameDelete" value="DELETE"/>
        <parameter name="lastnameDelete" value="USER"/>
        <parameter name="startdateDelete" value="2020-01-01"/>
        <parameter name="emailDelete" value="DELETEUSER@test.com"/>
        <classes>
            <class name="Tests.DeleteEmployeeTest"/>
        </classes>
    </test>
</suite>

